body{
    background-color: #FFE0F7;
    font-family: 'Montserrat', sans-serif;
}

td{
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
}

div{
    text-align: center;
}

.tab{
    margin-left: auto;
    margin-right: auto;
}

